<%= form_for(@travel) do |f| %>
  <% if @travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
      <% @travel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br>
    <p style = "color: black"><%= f.text_field :from %></p>
  </div>
  <!-- <div class="field">
    <%= f.label :flatitude %><br>
    <%= f.text_field :flatitude %>
  </div>
  <div class="field">
    <%= f.label :flongitude %><br>
    <%= f.text_field :flongitude %>
  </div>
   -->
  <div class="field">
    <%= f.label :to %><br>
    <p style = "color: black"><%= f.text_field :to %></p>
  </div>
  <!-- <div class="field">
    <%= f.label :tlatitude %><br>
    <%= f.text_field :tlatitude %>
  </div>
  <div class="field">
    <%= f.label :tlongitude %><br>
    <%= f.text_field :tlongitude %>
  </div> -->
  <div class="field">
    <%= f.label :datetime %><br>
    <%= f.datetime_select :datetime %>
  </div>
    <%= f.hidden_field :user_id , value: current_user.id%>
  <div class="field">
    <%= f.label :medium %><br>
    <p style = "color:black"><%= f.text_field :medium %></p>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-success"%>
    <%= link_to 'Back', travels_path, :class => "btn btn-primary"%>
  </div>
</div>
<% end %>
