<div class="transblack2">
<%= link_to 'New Travel', new_travel_path, :class => "btn btn-primary"%>
<h1>Listing travels</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Datetime</th>
      <th>User</th>
      <th>Medium</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travels.each do |travel| %>
      <tr>
        <td><%= travel.from %></td>
        <td><%= travel.to %></td>
        <td><%= travel.datetime %></td>
        <td><%=link_to travel.user do%><%= travel.user.name %><%end%></td>
        <td><%= travel.medium %></td>
        <td><%= link_to 'Show', travel %></td>
        <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
        <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>