<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @travel.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @travel.to %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @travel.datetime %>
</p>

<p>
  <strong>User:</strong>
  <%= @travel.user %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @travel.medium %>
</p>

<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>
