<style type="text/css">
.table{
  color: black;
}</style>
<div class="transblack2" >
<h1 style = "font-family: Bubbler One;font-size: 50px;color: #33B5E5">Bicycle Dashboard</h1>
<!-- button should automatically fill the form for cycle_issue_request, with required parameters, and assign a random available cycle <br>
it should fill the following data automatically:
<br>1). student ID
<br>2). random cycle ID (from a pool of available cycles)
<br>3). From (time) parameter (leave the To parameter)
<br>
It should not:
<br>1). open the form
<br>2). ask for any kind of input
<br> -->
<%= link_to 'Get a Ride', cycle_issu_requests_path, :method => :post, :class => "btn btn-lg btn-info" %>
<%= "Available Cycles: " + (total_cycles - count_used_rides).to_s %>
<!-- <div class = "well">
    <div class="col-xs-12">
    <div class="row" style="margin: 0 auto;text-align:right;">
        <div class="col-xs-12" >
            <h4 style="font-size:2em;">
                Name: <%= @user.name %>
            </h4>

            <h4 style="font-size:2em;">
                Student ID: <%= @user.roll_no %>
            </h4>
            <h4 style="font-size:2em;">
                Email: <%= @user.email %>
            </h4>
            <h4 style="font-size:2em;">
                Phone: <%= @user.phone %>
            </h4 style="font-size:2em;">
          </div>
</div>
</div> -->
<% if not get_current_cycle_request.nil? %>
<div class = "panel panel-info" style = "margin-top: 5%;">
  <div class = "panel-heading">Your Current Rides</div>
    <div class = "panel-body">
      <table class = "table">
        <thead>
          <tr>
            <th>Date & Time</th>
            <th>Duration(in Hours)</th>
            <th>Approved?</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=time_ago_in_words(get_current_cycle_request.from) + " ago"%></td>
            <td><%=" 5 Hours" %></td>
             <td><%= if get_current_cycle_request.approved then "Yes" else "No" end%></td>
            <td><%= link_to 'Delete', get_current_cycle_request, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" %></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<%end%>
<div class = "panel panel-success" style = "margin-top: 5%;">
  <div class = "panel-heading">Your Previous Rides</div>
  <div class = "panel-body">
    <table class = "table">
      <thead>
        <tr>
          <<th>Date & Time</th>
            <th>Duration(in Hours)</th>
            <th>Approved?</th>
        </tr>
      </thead>
      <tbody>
        <% get_previous_rides.each do |ride| %>
        <tr>
           <td><%=time_ago_in_words(ride.from)+ " ago"%></td>
            <td><%=" 5 Hours" %></td>
            <td><%= if ride.approved then "Yes" else "No" end%></td>
        </tr>
        <%end%>
      </tbody>
    </tbody>
  </div>
</div>
