<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Roll no:</strong>
  <%= @user.roll_no %>
</p>

<p>
	<strong>Email:</strong>
  <%= @user.email %>
</p>
<% if @user.id == current_user.id  %><%= link_to 'Edit Profile', edit_user_path(@user) %> <%end%>	
