<h2 style="color:white"><strong> Admin</strong></h2>
<h1 style="color:white">List of all Requests</h1>

<table>
  <thead>
    <tr style="color:white">
      <th>Cycleid</th>
      <th>Studentid</th>
      <th>To</th>
      <th>From</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cycle_issu_requests.each do |cycle_issu_request| %>
      <tr>
        <td style = "color: white;"><%= cycle_issu_request.cycleid %></td>
        <td style = "color: white;"><%= cycle_issu_request.studentid %></td>
        <td style = "color: white;"><%= cycle_issu_request.to %></td>
        <td style = "color: white;"><%= cycle_issu_request.from %></td>
        <td style = "color: white;"><%= link_to 'View', cycle_issu_request, :class => "btn btn-xs btn-primary" %></td>
        <td style = "color: white;"><%= link_to 'Edit', edit_cycle_issu_request_path(cycle_issu_request), :class => "btn btn-xs btn-primary" %></td>
        <td style = "color: white;"><%= link_to 'Delete', cycle_issu_request, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-warning" %></td>
        <td style = "color: white;"><button class = "btn btn-xs btn-success" >Issue</td>
        <td style = "color: white;"><button class = "btn btn-xs btn-warning" >Re-Issue</td>
        <td style = "color: white;"><button class = "btn btn-xs btn-danger" >Report</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Issue cycle', new_cycle_issu_request_path, :class => "btn btn-primary"%>
<%= link_to 'Add Cycle', new_cycle_path, :class => "btn btn-primary"%>
