<h2 style="color:white"><strong> Admin(cycle issue karane wala) ka page </strong></h2>
<h1 style="color:white">List of issued cycles</h1>

<table>
  <thead>
    <tr style="color:white">
      <th>Cycleid</th>
      <th>Studentid</th>
      <th>To</th>
      <th>From</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cycle_issu_requests.each do |cycle_issu_request| %>
      <tr>
        <td><%= cycle_issu_request.cycleid %></td>
        <td><%= cycle_issu_request.studentid %></td>
        <td><%= cycle_issu_request.to %></td>
        <td><%= cycle_issu_request.from %></td>
        <td><%= link_to 'Show', cycle_issu_request %></td>
        <td><%= link_to 'Edit', edit_cycle_issu_request_path(cycle_issu_request) %></td>
        <td><%= link_to 'Destroy', cycle_issu_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Issue cycle', new_cycle_issu_request_path, :class => "btn btn-primary"%>
<%= link_to 'Add Cycle', new_cycle_path, :class => "btn btn-primary"%>