<p id="notice"><%= notice %></p>

<div class = "panel panel-default">
  <div class = "panel-body">
    <p>
      <strong>Cycle Id:</strong>
      <%= @cycle_issu_request.cycleid %>
    </p>
    <p>
      <strong>Student Id:</strong>
      <%= @cycle_issu_request.studentid %>
    </p>
    <p>
      <strong>To:</strong>
      <%= @cycle_issu_request.to %>
    </p>
    <p>
      <strong>From:</strong>
      <%= @cycle_issu_request.from %>
    </p>
  </div>
</div>
<%= link_to 'Back', dashboard_path, :class => "btn btn-success" %>
<%= link_to 'Edit', edit_cycle_issu_request_path(@cycle_issu_request), :class => "btn btn-primary" %>
