<p id="notice"><%= notice %></p>

<p style = "color: white;">
  <strong>Cycleid:</strong>
  <%= @cycle_issu_request.cycleid %>
</p>

<p style = "color: white;">
  <strong style = "color: white;">Studentid:</strong>
  <%= @cycle_issu_request.studentid %>
</p>

<p style = "color: white;">
  <strong>To:</strong>
  <%= @cycle_issu_request.to %>
</p>

<p style = "color: white;">
  <strong>From:</strong>
  <%= @cycle_issu_request.from %>
</p>
<%= link_to 'Back', cycle_issu_requests_path, :class => "btn btn-success" %>
<%= link_to 'Edit', edit_cycle_issu_request_path(@cycle_issu_request), :class => "btn btn-default" %>
