<h1 style = "color: white;">Get a Ride</h1>
<%= link_to 'New Ride', new_rider_path, :class => "btn btn-lg btn-info" %>
<table>
  <h3 style = "color: white;">Status</h3>
  <thead>
    <tr>
      <th style = "color: white;font-size: 16px;">Source</th>
      <th style = "color: white;font-size: 16px;">Destination</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @riders.each do |rider| %>
      <tr>
        <td style = "color: white;font-size: 12px;"><%= rider.source %></td>
        <td style = "color: white;font-size: 12px;margin-left: 100px;"><%= rider.destination %></td>
        <!-- <td style = "margin-left: 10px;"><%= link_to 'View Path', rider, :class => "btn btn-xs btn-success"%></td> -->
        <td><%= link_to 'Edit Path', edit_rider_path(rider), :class => "btn btn-xs btn-success"%></td>
        <td><%= link_to 'Cancel Ride', rider, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-xs btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
