<!DOCTYPE html>
<html>
<head>
  <title>Volks Voyage</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
<style>
body { 
  background: url('/assets/2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.field{
  color: black;
}
body{
  font-family: "Roboto";
  margin-bottom: 5%;
}
a{
  text-decoration: none !important;
}
.navbar-nav > li > a
{
  color: #33B5E5  !important;
  font-family: 'Roboto';
}
.navbar .navbar-brand
{
  color: #eee !important;
}
.nav > li > a:hover, .nav > li > a:focus{
  background-color: rgba(0, 0, 0, 0.4);
}
.transblack{
  background-color: rgba(0, 0, 0, 0.7);
}
.transblack2{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5%;
  padding-top: 3%;
  color: #fff ;
}
.transblack2 a{
}
</style>
    <div class="navbar transblack navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to('/', :class => 'navbar-brand') do%><img src = '/assets/logo1.png' height = "40" width = "100"/><%end%>
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">

            <% if user_signed_in? %>
              <li><%= link_to('/about') do %>About<%end%>
              <li><%= link_to( '/choose' ) do%>Switch App<%end%>

              <% if params[:controller] == "travels" %>
                <li><%= link_to current_user do %>Profile<%end%>
              <%end%>

              <% if params[:controller] == "users"  %>
                <li><%= link_to current_user do %>Profile<%end%>
              <%end%>

              <li><%= link_to( destroy_user_session_path, :method => :delete) do %>Log Out<%end%>
            <% else %>
               <li><%= link_to('/about') do %>About<%end%>
               <li><%= link_to( new_user_registration_path) do %>Sign Up<%end%>
            <% end %>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<br><br><br>
<!-- navbar till here, body now begins -->
<div class="container-fluid">
   <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
    <% elsif flash[:error] %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
    <% elsif flash[:warning] %>
    <div class="alert alert-warning"><%= flash[:warning] %></div>
    <% elsif flash[:info] %>
    <div class="alert alert-info"><%= flash[:info] %></div>
  <% end %>

<%= yield %>
</div>
</body>
</html>
