<!DOCTYPE html>
<html>
<head>
  <title>Evs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body <%if user_signed_in? %>style="background: url(http://localhost:3000/assets/2.jpg) no-repeat;background-size: 100%;"<%end%>>
<style>
a:hover{
  text-decoration: none !important;
  color: #fff !important;
}
.navbar-nav > li > a
{
  color: #eee !important;
}
.navbar .navbar-brand
{
  color: #eee !important;
}
.nav > li > a:hover, .nav > li > a:focus{
  background-color: rgba(0, 0, 0, 0.4);
}
.transblack{
  background-color: rgba(0, 0, 0, 0.7); 
}
.transblack2{
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5%;
  padding-top: 3%;
  color: #fff ;
}
</style>
    <div class="navbar transblack navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to('/', :class => 'navbar-brand') do%> Volks Voyage <%end%>
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">

            <% if user_signed_in? %>
              <% if params[:controller] == "travels" %>
                <li><%= link_to current_user do %>Profile<%end%>
              <%end%>
              <% if params[:controller] == "users" %>
                
                <li><%= link_to edit_user_registration_path do %>Edit Profile<%end%>
              <%end%>
              <li><%= link_to( destroy_user_session_path, :method => :delete) do %>Log Out<%end%>
            <% else %>            
               <li><%= link_to( new_user_session_path) do %>Login<%end%>
               <li><%= link_to( new_user_registration_path) do %>Register<%end%>
            <% end %>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<br><br><br>
<!-- navbar till here, body now begins -->
<div class="container-fluid">

   <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
    <% elsif flash[:error] %>
    <div class="alert alert-danger"><%= flash[:notice] %></div>
    <% elsif flash[:warning] %>
    <div class="alert alert-warning"><%= flash[:notice] %></div>
    <% elsif flash[:info] %>
    <div class="alert alert-info"><%= flash[:notice] %></div>
  <% end %>
  
<%= yield %>
</div>
</body>
</html>